<div class="row">
  <div id=header>
    <%= erb :'home/_toplinks' %>
  </div>
</div>

<div class="row">
  <div id=intro>
    <%= erb :'home/_intro' %>
  </div>

  <div id=form>
    <%= erb :'home/_form' %>
  </div>
</div>
