<div id="intro" style="background-color:#cbf;">
  <h1>Welcome to your new page!</h1>
  <div class="dismiss" style="float:right;"><a href="#">Dismiss</a></div>

  <p>We've sent some info, like your password, to <%= @page.user.email %>. If that email was a big fat lie, go <a href="/not-done-yet">here</a> to enter your real one.</p>

  <h2>Get creating!</h2>
  <p>You can edit your page <a href="/edit/<%= @page.slug %>">here</a>.
  <p>Remember, you'll need your password. We emailed it to you.</p>
</div>
