<div id="owner-prompt" style="background-color:#cbf;">
  <p>Hey it looks to us like you created this page.</p>
  <div class="dismiss" style="float:right;"><a href="#">Dismiss</a></div>
  <p>You can edit it <a href="/edit/<%= @page.slug %>">here</a>.
  <p>Remember, you need the password we emailed to you.</p>
</div>
